@{
    ViewData["Title"] = "Početna stranica";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli u Zlatarnu Goldie</h1>
    <p> <img width="962" height="641" src="~/slike/nakit.jpg" />  </p>
</div>