@{
    ViewData["Title"] = "O nama";
}
<h1>@ViewData["Title"]</h1>

<p>Već 50 godina Zlatarna Goldie nudi vam najveći i najbolji izbor zlatnog nakita,
    zaručničkog prstenja, vjenčanog prstenja i ostalih proizvoda. Svoju misiju uspješno gradimo na dobro poznatoj tradiciji,
    kvaliteti, znanju i brendu.</p>
